.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid lightgray;
  background-image: contain;
  border-radius: 25px;
  box-shadow: 2px 2px lightgrey;
  background-color: lightblue;
}

.more-info {
  text-align: center;
  padding: 20px;
  margin: 10px auto;
  float: right;
  border-radius: 10px;
  text-transform: uppercase;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  
}

.image {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-radius: 25px;
  width: 100%;
}

.dish {
  text-align: center;
}