.toolbar {
  background-color: lightblue;
  box-shadow: 4px 4px lightgrey;
  border-radius: 15px;
}

.title {
  font-size: x-large;
  text-align: center;
  font-weight: 700;
  color: green;
  margin: auto;
}

.header-space {
  display: flex;
  justify-content: space-between;
}
