
.boxes {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 2px grey;
  box-shadow: 4px 4px lightgrey;
  background-color: rgba(173, 160, 160, 0.199);
  border-radius: 0 0 15px 15px;
  padding: 0 2rem 1rem 2rem;
}

.boxes-text {
  text-align: center;
  margin: 10px 0 0 0;
  background-color: rgb(223, 184, 191);
  box-sizing: border-box;
  border: 2px grey;
  box-shadow: 4px 4px lightgrey;
  border-radius: 15px 15px 0 0;
}
